.searchbox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 55%;
  height: 2rem;
  border: 1px solid $GRAY_FOR_BORDER;
  border-radius: 3px;
  overflow: hidden;
}

.searchbox__input {
  color: $WHITE_FOR_ICONS;
  background-color: $BLACK_DARK;
  font-size: 1rem;

  width: 90%;
  height: 100%;
  padding: 0 .7rem;
  border: none;
}

.searchbox__loupe-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $GRAY_FOR_ICONS;
  background-color: $GRAY_FOR_BORDER;

  width: 10%;
  height: 100%;
}
