// Using the @use statement is more recommended than that
@import "menu-and-logo";
@import "search-box";
@import "user-and-more";

.topbar {
  background-color: $BLACK_LIGHT;
  padding: .8rem 0;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .sub-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
